@import '~antd/dist/antd.css';
.app{
  width: 60%;
  margin: 30px 20%;
}
h1,h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
}
form>.ant-row{
  margin-bottom: 6px;
}
.form{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

button{
  width: fit-content;
  text-align: center;
  background-color: #fff;
  border: 1px #000000 solid;
  border-radius: 5px;
}
.user{
  margin-bottom: 1rem;
  display: block;
}

.error{
  color: red;
}
.success{
  color: green;
}

.error,.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogItem{
  line-height: 1.5rem;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
}
.form.blog{
  width: 300px;
}
.create{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 24px;
}

.loginbox{
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  padding: 20px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
}

.notification{
  margin: 10px 0;
}

.nav{
  background-color: rgb(158, 158, 158);
  line-height: 2rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.nav>*{
  margin-left: 10px;
}