.form{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.form>input{
  width: 3.5rem;
  text-align: center;
}
.user{
  margin-bottom: 1rem;
  display: block;
}

.error{
  color: red;
}
.success{
  color: green;
}

.error,.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}